<html xmlns:th="http://www.thymeleaf.org" th:charset="UTF-8" lang="pl-PL">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    * {
      font-family: Arial;
    }
  </style>
</head>
<body style="width: 100%; height: 100%">
<section
        style="width: 100%; height: 100%; background-color: #385898; color: white; display: flex; flex-direction: column; justify-content: center; align-items: center">
  <h1>Nowy pracownik <span th:text="${applier}"></span> zarejestrowany w systemie </h1>
  <div>
    <button>
      <a th:href="@{'clocklikeminds-hr-react.vercel.app/finish-employee-registration?empId=' + ${empId}}" target="_blank">
        Dokończ rejestrację
      </a>
    </button>
  </div>
</section>
</body>
</html>